#dashboard-body {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  justify-content: space-around;
}

.header-wrapper {
  height: 100px;
}

.scenario-container {
  margin: 40px;
  text-align: center;
}

.chartRow {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.scenario-cards {
  display: flex;
  justify-content: space-evenly;
}
