#dashboard-body {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  justify-content: space-around;
}

.header-wrapper {
  height: 100px;
}

.chartRow{
  width: 100%;
  display: flex;
  flex-direction: row;
}
