#card-wrapper {
  flex-basis: 500px;
  margin: 50px 50px 20px 50px;
}

@media only screen and (max-width: 500px) {
  #card-wrapper {
    margin: 50px 10px 20px 10px;
    width: 50%;
    /* flex-basis: 350px; */
  }
}

@media only screen and (min-width: 2500px) {
  #card-wrapper {
    flex-basis: 1500px;
    margin: 80px 10px 20px 10px;
    width: 200%;
    /* flex-basis: 350px; */
  }
}
